# Node.js
node_modules/

# Next.js build output
.next/

# Environment files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor-specific files
.vscode/
.idea/
*.iml

# Test coverage
coverage/

# Build cache
.cache/
public/workbox-*.js
.next.sw?

# Dependency directories
packages/

